.history-item {
    display: flex;
    margin: 5px 0 5px 0;
}

.history-item__date {
    margin-right: 10px;
    align-self: center;
}

.history-item__changes {
    margin-right: 10px;
    align-self: center;
    max-width: 50%;
}