<mat-toolbar
    color="primary"
>
    <span>BookChangelog</span>

    <nav>
        <ul class="feature-list">
            <li class="feature-list__item">
                <a
                    mat-button
                    class="feature-list__link"
                    routerLink="/books"
                    routerLinkActive="feature-list__link_active"
                >
                    Books
                </a>
            </li>
            <li class="feature-list__item">
                <a
                    mat-button
                    class="feature-list__link"
                    routerLink="/authors"
                    routerLinkActive="feature-list__link_active"
                >
                    Authors
                </a>
            </li>
        </ul>
    </nav>

</mat-toolbar>