<ng-container *ngIf="
    {
        totalBookCount: totalBookCount$ | async,
        books: books$ | async
    } as result"
>
  <article class="container">
    <bc-book-list-filter 
      [filter]="filter"
      (filterChange)="onFilterChange($event)"
    ></bc-book-list-filter>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let book of result.books" hideToggle 
        (opened)="onPanelOpened(book.id)"
      >

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ book.title }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item>
            <span class="book-info-item__title">Title: </span>
            <span>{{ book.title }}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="book-info-item__title">Description: </span>
            <span>{{ book.description }}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="book-info-item__title">Publication date: </span>
            <span>{{ book.publicationDate }}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="book-info-item__title">Authors: </span>
            <span>
              <ng-container *ngFor="let author of book.authors; last as isLast">
                {{ author.name }}<span *ngIf="!isLast">, </span>
              </ng-container>
            </span>
          </mat-list-item>
        </mat-list>

        {{ changeHistory$ | async | json }}
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator
      class="paginator"
      [length]="result.totalBookCount"
      [pageSize]="defaultPageSize"
      [pageSizeOptions]="pageSizes"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </article>
</ng-container>