
.book {
    display: flex;   
}

.book__info {
    flex: 2 1 0;
}

.book__change-history {
    flex: 3 1 0;
}

.book-info-item__title {
    font-weight: bold;
    margin-right: 5px;
}

.mat-list .mat-list-item {
    height: 40px;
}

.paginator {
    display: flex;
    justify-content: center;
}